<h1>practical 11</h1>

**1) Write a Pandas program to filter all columns where all entries present, check which rows and columns has a NaN and finally drop rows with any NaNs from the given dataset**

In [1]:
 '''
Name: todarmal vansh rajeshbhai
Enrollment: 216270307037
'''
import numpy as np
import pandas as pd

dataset = pd.read_csv('../input/wrong-data/wrong_data.csv')


print("Dataset with all entries present : \n",dataset.loc[:,dataset.notna().all()],sep="",end="\n\n\n")

print("Dataset with row having NaN : \n",dataset.loc[:,dataset.isna().any()],sep="",end="\n\n\n")

print("Dataset with droped NaN : \n",dataset.dropna(how="any"),sep="",end="\n\n\n")

Dataset with all entries present :
    Duration  Pulse  Maxpulse
0         60    110       130
1         60    117       145
2         60    103       135
3         45    109       175
4         45    117       148
5         60    102       127
6         60    110       136
7        450    104       134
8         30    109       133
9         60     98       124
10        60    103       147
11        60    100       120
12        60    100       120
13        60    106       128
14        60    104       132
15        60     98       123
16        60     98       120
17        60    100       120
18        45     90       112
19        60    103       123
20        45     97       125
21        60    108       131
22        45    100       119
23        60    130       101
24        45    105       132
25        60    102       126
26        60    100       120
27        60     92       118
28        60    103       132
29        60    100       132
30        60    102       129
31        60     92       115


Dataset with row having NaN :
            Date  Calories
0   '2020/12/01'     409.1
1   '2020/12/02'     479.0
2   '2020/12/03'     340.0
3   '2020/12/04'     282.4
4   '2020/12/05'     406.0
5   '2020/12/06'     300.0
6   '2020/12/07'     374.0
7   '2020/12/08'     253.3
8   '2020/12/09'     195.1
9   '2020/12/10'     269.0
10  '2020/12/11'     329.3
11  '2020/12/12'     250.7
12  '2020/12/12'     250.7
13  '2020/12/13'     345.3
14  '2020/12/14'     379.3
15  '2020/12/15'     275.0
16  '2020/12/16'     215.2
17  '2020/12/17'     300.0
18  '2020/12/18'       NaN
19  '2020/12/19'     323.0
20  '2020/12/20'     243.0
21  '2020/12/21'     364.2
22           NaN     282.0
23  '2020/12/23'     300.0
24  '2020/12/24'     246.0
25  '2020/12/25'     334.5
26      20201226     250.0
27  '2020/12/27'     241.0
28  '2020/12/28'       NaN
29  '2020/12/29'     280.0
30  '2020/12/30'     380.3
31  '2020/12/31'     243.0


Dataset with droped NaN :
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0